.page-around-me {
  width: 100%;
  height: 90vh;
}

.around-me {
  margin-top: 30px;
  width: 100%;
  height: 80vh;
}

.around-me .filters {
  display: flex;
  margin-bottom: 15px;
}
.around-me .raz-filters {
  line-height: 20px;
  padding: 0 10px;
  color: white;
  font-size: 14px;
  margin-right: 20px;
  background-color: rgb(0, 0, 0, 0.6);
}
.around-me .raz-filters:hover {
  cursor: pointer;
}
.around-me .set-filters {
  line-height: 20px;
  padding: 0 10px;
  color: white;
  font-size: 14px;
  background-color: rgb(0, 0, 0, 0.6);
}
.around-me .set-filters:hover {
  cursor: pointer;
}
.around-me .set-filters span {
  margin-right: 10px;
}
.around-me .distance {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.around-me .distance p {
  font-size: 14px;
  margin-right: 20px;
}
.around-me .map-inside {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
}
.around-me .map-container {
  margin-top: 0px;
  border-radius: 15px;
  border: 1px solid grey;
  width: 100%;
  height: 100%;
}
.around-me .map-inside button {
  background-color: white;
  border: none;
  /* border-bottom: 1px solid var(--happyCow-color); */
  text-decoration: underline;
  color: var(--happyCow-color);
}

.page-around-me .waiting p {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .around-me .filters {
    margin-bottom: 50px;
  }
  .around-me .distance p {
    font-size: 12px;
    margin-right: 10px;
  }
}
