footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(235, 235, 235);
  height: 50px;
}
footer span {
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 550px) {
  footer {
    font-size: 12px;
  }
}
