header {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 2px solid lightgrey;
}
header .left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .icon-menu {
  font-size: 24px;
  font-weight: bold;
  margin-right: 15px;
  display: none;
}
header .logo {
  width: 180px;
  object-fit: contain;
}
header .menu {
  width: calc(100% - 180px);
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
header .right {
  display: flex;
  align-items: center;
}
header .right .user {
  display: flex;
  align-items: center;
}
header .right .user:hover {
  cursor: pointer;
}
header .right .sign {
  height: 40px;
  background-color: var(--happyCow-color);
  color: white;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
}
header .right .sign:hover {
  background-color: #a58ad4;
}
header .right .username {
  color: var(--happyCow-color);
  font-weight: 600;
  margin: 0 20px;
}
header .right .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--happyCow-color);
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 1199px) {
  header .icon-menu {
    display: block;
  }
  header .menu {
    display: none;
  }
}

@media (max-width: 550px) {
  header {
    height: 100px;
  }
  header .logo {
    width: 160px;
  }
  header .left {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  header .icon-menu {
    margin-top: 10px;
  }

  header .right .user {
    flex-direction: column;
  }
}
