.home-page {
  margin-bottom: 35px;
}

.top-home-banner {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  position: relative;
}
.top-home-banner .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.top-home-banner .tear-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.top-home-banner .search {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.top-home-banner .search .text-input {
  line-height: 30px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
}
.top-home-banner .search .filters {
  align-self: flex-end;
  line-height: 20px;
  padding: 0 10px;
  color: white;
  font-size: 14px;
  margin-top: 10px;
  background-color: rgb(0, 0, 0, 0.6);
}
.top-home-banner .search .filters:hover {
  cursor: pointer;
}
.top-home-banner .search .filters span {
  margin-right: 10px;
}
.restaurants h1 {
  font-weight: 500;
  font-size: 20px;
}
.nbPerPage {
  text-align: end;
}
.nbPerPage input {
  margin-left: 10px;
  width: 50px;
  line-height: 20px;
}
.list-of-restaurants {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: calc((100% - 4 * 280px) / 3);
}
.handle-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  font-size: 18px;
}
.handle-page button {
  font-size: 22px;
  margin: 0 15px;
  background-color: var(--happyCow-color);
  color: white;
  border-radius: 50%;
}

@media (max-width: 1180px) {
  .list-of-restaurants {
    gap: calc((100% - 3 * 280px) / 2);
  }
}
@media (max-width: 890px) {
  .list-of-restaurants {
    gap: calc((100% - 2 * 280px));
  }
}
@media (max-width: 619px) {
  .top-home-banner {
    height: 200px;
  }
  .list-of-restaurants {
    margin: 20px 0;
    justify-content: center;
  }
}
