.mini-restaurant {
  height: 340px;
  width: 280px;
  margin: 10px 0;
}
.mini-restaurant:hover {
  cursor: zoom-in;
}
.mini-restaurant .image-container {
  width: 100%;
  height: 50%;
  position: relative;
}
.mini-restaurant .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.mini-restaurant .image-container .heart {
  font-size: 22px;
  padding: 8px;
  background-color: white;
  border: solid 1px gray;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px;
}
.mini-restaurant .image-container .heart-red {
  color: red;
}
.mini-restaurant .image-container .heart-gray {
  color: gray;
}
.mini-restaurant .image-container .heart:hover {
  cursor: pointer;
}
.mini-restaurant .title {
  display: flex;
  align-items: center;
}
.mini-restaurant .title img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.mini-restaurant .title h3 {
  font-size: 18px;
  width: 80%;
  font-weight: bold;
  margin: 10px;
}
.mini-restaurant h4 {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
}
.mini-restaurant p {
  font-weight: 200;
  line-height: 20px;
  height: 60px;
  overflow-y: hidden;
}
.mini-restaurant .rating {
  height: 25px;
  display: flex;
  flex-direction: row;
}
.mini-restaurant .rating span {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
}
