.modalFilters-root {
  z-index: 2000;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.modalFilters {
  background-color: white;
  width: 850px;
  height: 600px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* padding-left: 25px; */
}
.modalFilters .close {
  align-self: flex-end;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 5px 20px;
}
.modalFilters .input {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 80%;
}
.modalFilters .input input {
  width: 100%;
  line-height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
.modalFilters .input .search-in {
  display: flex;
  width: 80%;
  align-items: center;
}
.modalFilters .search-in p {
  margin-right: 20px;
}
.modalFilters .input p {
  font-size: 12px;
}

.modalFilters .two-columns {
  display: flex;
  margin: 0 10%;
  width: 80%;
  justify-content: space-between;
}
.modalFilters .left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.modalFilters .restaurants-types {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.modalFilters .right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.modalFilters .star:hover {
  cursor: pointer;
}
