:root {
  --happyCow-color: #9069cd;

  font-family: "Poppins", sans-serif;
  position: relative;
}

button:hover {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
